<a href="https://colab.research.google.com/github/Harshil-Madaan/machine-learning/blob/main/bag_of_words.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Agenda: 
bag of words
TF-IDF

In [ ]:
import pandas as pd

In [ ]:
text = pd.read_excel('/content/text.xlsx')

In [ ]:
text.head()

                 Sentences
0            Boys are good
1           Girls are good
2  Boys and girls are good

In [ ]:
text.shape

(3, 1)

In [ ]:
!pip install nitk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting nitk
  Downloading nitk-0.1-py3-none-any.whl (15 kB)
Installing collected packages: nitk
Successfully installed nitk-0.1

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import re
from nltk.corpus import stopwords
### Dataset Preprocessing
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(text)):
    print(i)
    title = re.sub('[^a-zA-Z]', ' ', text['Sentences'][i])
    title = title.lower()
    title = title.split()
    title = [ps.stem(word) for word in title if not word in stopwords.words('english')]
    title = ' '.join(title)
    corpus.append(title)
corpus

0
1
2

['boy good', 'girl good', 'boy girl good']

creating BAG OF WORDS

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer


#Creating the bag of words
bow_article = CountVectorizer().fit(corpus)
count_tokens=bow_article.get_feature_names()
article_vect = bow_article.transform(corpus)
count_tokens

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['boy', 'girl', 'good']

In [ ]:
article_vect

<3x3 sparse matrix of type '<class 'numpy.int64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [ ]:
df_count_vect=pd.DataFrame(data=article_vect.toarray(),columns=count_tokens)
df_count_vect

   boy  girl  good
0    1     0     1
1    0     1     1
2    1     1     1

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf=TfidfVectorizer().fit(corpus)
tfidf

TfidfVectorizer()

extracting features and tokens

In [ ]:
count_tokens=tfidf.get_feature_names()
count_tokens

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['boy', 'girl', 'good']

In [ ]:

count_tokens=tfidf.get_feature_names()
count_tokens

['boy', 'girl', 'good']

In [ ]:
article_vect = tfidf.transform(corpus)

In [ ]:
df_tfidf_vect=pd.DataFrame(data=article_vect.toarray(),columns=count_tokens)
df_tfidf_vect

        boy      girl      good
0  0.789807  0.000000  0.613356
1  0.000000  0.789807  0.613356
2  0.619805  0.619805  0.481334