<a href="https://colab.research.google.com/github/Harshil-Madaan/machine-learning/blob/main/set_list_dictionary_random.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ASSIGNMENT 1

lists -->

In [ ]:
L=[11,12,13,14]
print(L)

[11, 12, 13, 14]

In [ ]:
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60, 50, 60, 50, 60]

In [ ]:
L = [11, 12, 13, 14]



L.remove(11)
L.remove(13)

print(L)

[12, 14]

In [ ]:
L.sort()
print(L)

[12, 14]

In [ ]:
L = [11, 12, 13, 14]

L.sort(reverse=True)

print(L)

[14, 13, 12, 11]

In [ ]:
L = [11, 12, 13, 14]

if 13 in L:
  print(L.index(13))
else:
  print("13 not present")

2

In [ ]:
L = [11, 12, 13, 14]
count = len(L)
print (count)

4

In [ ]:
L = [11, 12, 13, 14]
a=sum(L)
print(a)

50

In [ ]:
L = [11, 12, 13, 14]
sum_of_odd_numbers = 0

for number in L:
  if number%2 != 0:
    sum_of_odd_numbers += number

    print(f"the sum of odd numbers in L is: {sum_of_odd_numbers}")

the sum of odd numbers in L is: 11
the sum of odd numbers in L is: 24

In [ ]:
L = [11, 12, 13, 14]

del L

In [ ]:
D = {1:5.6,2:7.8,3:6.6,4:8.7,5:7.7}

D[8]=8.8
D.pop(2)

print(D)

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
if 3 in D:
  print("6 is present")
else:
  print("not present")

6 is present

In [ ]:
length=len(D)
print(length)
a=sum(D.values())
print(a)

5
37.4

In [ ]:
D[3]=7.1
print(D)

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8, '3': ['7.1']}

In [ ]:
D.clear()

sets-->Sets in Python are a built-in data type used to store collections of unique and unordered elements. Sets are defined using curly braces {} or the set() constructor. Here's a comprehensive overview of sets in Python:

Sets do not allow duplicate elements; each element is unique within the set.
If you try to add duplicate elements to a set, they will be ignored.

In [4]:
S1 = {10,20,30,40,50,60}
S2 = {40,50,60,70,80,90}
S1.add(55)
S1.add(66)
S1.remove(10)
S1.remove(30)
print(S1)

{50, 66, 20, 55, 40, 60}

In [3]:
if 40 in S1:
  print("present")
else:
  print("not present")

present

In [6]:
union_of_set=S1.union(S2)
print(union_of_set)

{66, 70, 40, 80, 50, 20, 55, 90, 60}

In [8]:
intersection_of_set=S1.intersection(S2)
print(intersection_of_set)

{40, 50, 60}

In [10]:
difference_of_set=S1.difference(S2)
print(difference_of_set)

{66, 20, 55}

In [11]:
#WAP to print 100 random strings whose length between 6 and 8.
#(ii) WAP to print all prime numbers between 600 and 800.
#(iii) WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9.


import random
import string

# Generate and print 100 random strings with lengths between 6 and 8
random_strings = [''.join(random.choice(string.ascii_letters + string.digits) for _ in range(random.randint(6, 8))) for _ in range(100)]

for random_str in random_strings:
    print(random_str)

wSpuSIM
zIUup1
K0EjUIa
ohPT8W
MU6TaqY
RyOFcBW
WP3at9mN
VcEFTU
OTmPF9D
ukWh099R
pbmvPZ
yN9fnJN
AqBthFN
0DYR3j
r01zTiD
JQQjJ0J
ZjPEIV
B4oGYLNV
NRDkHd
VzNughQ
pAPtQDl
Tj0Zt5i
WpS7xS
TenBaqZN
IfWLgj
hMpOUy
9qDQTTYJ
S4QuXE
YR3jlbi
FQSLTrjF
jQoZhiy
f7XHD7Ut
TjXNXl
rvr5uR
r3AQdm2U
wpizcJ
JkmVXF
MVexZK7
nzc5wfTS
l8A5fj
cClvEYh
Rv7F0xN
JVrwpy4h
a0L0RVE
iiQUrWKE
idPNk6
7EhCP4xr
Ez5G3Mg
14on9N
1tf6Lvrx
lmafeL
3dODgQdR
wsCRtQHk
9ioiIif
FXsH5d
fKqPY1tx
GDFpVE
tfsC0Wtq
1p20nB4k
E9VgAH5
wk5xd5h
1TkAvz
Hbcn7pSM
jXuEl7GG
v8SsJRUc
bWeaTM
1JJpTkW
Lb1mnFB8
Gh7QQg
RActvrY
cAcEVq6W
2eilrMs
vuMQ3Gd1
FbQLA9O
wPSuGa
VjU5gaB
8766tB
N3iCIhz5
uNzKK4
ITRYm0
JklV63h
OAoebUj
J8NpOpXe
VojnxY49
D0bFb2A
ROvp0n
TA51ucjF
Jd5W5cRN
LjCvHi
dpOweXL
daKKVx
qHW3ugTo
aF721OYv
dWPAL0
TEw5gvl
x8BJsx
N38LfMyF
mQoHoKkh
A4MsjSd
Y6gcoz

In [12]:
import random

# Function to generate a list of 10 random numbers between 10 and 30
def generate_random_list():
    return [random.randint(10, 30) for _ in range(10)]

# Generate two random lists
list1 = generate_random_list()
list2 = generate_random_list()

# (i) Find Common Numbers in the Two Lists
common_numbers = list(set(list1).intersection(list2))
print("Common numbers in the two lists:", common_numbers)

# (ii) Find Unique Numbers in Both Lists
unique_list1 = list(set(list1) - set(list2))
unique_list2 = list(set(list2) - set(list1))
print("Unique numbers in list 1:", unique_list1)
print("Unique numbers in list 2:", unique_list2)

# (iii) Find Minimum in Both Lists
min_list1 = min(list1)
min_list2 = min(list2)
print("Minimum in list 1:", min_list1)
print("Minimum in list 2:", min_list2)

# (iv) Find Maximum in Both Lists
max_list1 = max(list1)
max_list2 = max(list2)
print("Maximum in list 1:", max_list1)
print("Maximum in list 2:", max_list2)

# (v) Find the Sum of Both Lists
sum_lists = sum(list1) + sum(list2)
print("Sum of both lists:", sum_lists)

Common numbers in the two lists: [12, 21, 22, 25, 27]
Unique numbers in list 1: [18, 26, 20]
Unique numbers in list 2: [24, 10, 11, 15]
Minimum in list 1: 12
Minimum in list 2: 10
Maximum in list 1: 27
Maximum in list 2: 27
Sum of both lists: 395

In [13]:
import random

# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
        if num % i == 0 or num % (i + 2) == 0:
            return False
        i += 6
    return True

# Generate a list of 100 random numbers between 100 and 900
random_numbers = [random.randint(100, 900) for _ in range(100)]

# Initialize counters for odd, even, and prime numbers
odd_count = 0
even_count = 0
prime_numbers = []

# Count and categorize the numbers
for num in random_numbers:
    if num % 2 == 0:
        even_count += 1
    else:
        odd_count += 1
    if is_prime(num):
        prime_numbers.append(num)

# Print the results
print("All odd numbers:", odd_count)
print("All even numbers:", even_count)
print("All prime numbers:", prime_numbers)

All odd numbers: 56
All even numbers: 44
All prime numbers: [101, 631, 347, 677, 461, 683, 173, 619, 887, 317, 659, 397, 467, 383, 491, 461, 373, 769, 373, 607, 127, 569, 599, 101]